# ignore build output
target/*.original
target/*.log

#ignore git
.git
.gitignore

#ignore local env files
.env

#ignore ide files
.idea/
*.iml
*.log

#ignore docker itself(avoids recursion)
Dockerfile


#others
/run.sh
